AppWeb/AppWeb/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5341/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5341/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RegistrarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoggearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:LoggearUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_LoggearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoggearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoggearCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:LoggearCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_LoggearCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoggearClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="RegistrarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegistrarCliente" message="tns:IService1_RegistrarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrarClienteResponse" message="tns:IService1_RegistrarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegistrarUsuario" message="tns:IService1_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrarUsuarioResponse" message="tns:IService1_RegistrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoggearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoggearUsuario" message="tns:IService1_LoggearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoggearUsuarioResponse" message="tns:IService1_LoggearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoggearCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoggearCliente" message="tns:IService1_LoggearCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoggearClienteResponse" message="tns:IService1_LoggearCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/RegistrarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoggearUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/LoggearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoggearCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/LoggearCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:5341/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>